## Introdução

O objetivo deste notebook é fazer a extração/obtenção de três datasets de maneiras diferentes, o primeiro um arquivo de CSV dado pela Udacity, o segundo será feito o download do arquivo hospedado nos servidores da Udacity também, e por fim o último se trata de uma extração de dados diretamente do Twitter via API com auxílio da lib tweepy.

Inicialmente vamos importar as bibliotecas necessárias para o projeto:

In [352]:
# Importando libs que serão utilizadas no projeto
import pandas as pd
import requests
import json
import tweepy
import sys
import numpy as np

pd.set_option('display.precision', 50)
pd.options.display.max_colwidth = 100

## Importando os datasets

Agora é hora de iniciar a importação de cada um dos arquivos com os dados, primeiro vamos importar o arquivo fornecido pela Udacity:

In [353]:
# Lendo os datasets originais, primeiramente o dataset fornecido pela Udacity
weratedogs = pd.read_csv('twitter-archive-enhanced.csv')

# Testando o arquivo
weratedogs.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available fo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know w...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD3...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and sh...",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/st...",12,10,Franklin,None,None,None,None

O segundo dataset é o que foi hospedado pela Udacity, vamos ler ele também:

In [354]:
# Fazendo download do dataset
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

r = requests.get(url, allow_redirects=True)

open('image-predictions.tsv', 'wb').write(r.content)

# Lendo o arquivo, detalhe para a separação ser por tabs
imagepredictions = pd.read_csv('image-predictions.tsv', sep='\t')

# Testando o segundo dataset
imagepredictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.46507399999999998740918272233102470636367797851562,True,collie,0.15666499999999999870325950723781716078519821166992,True,Shetland_sheepdog,0.06142849999999999699440422773477621376514434814453,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.50682599999999999873523393034702166914939880371094,True,miniature_pinscher,0.07419169999999998543760426628068671561777591705322,True,Rhodesian_ridgeback,0.07201000000000000456079618516014306806027889251709,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.59646100000000001895017476272187195718288421630859,True,malinois,0.13858399999999998497557385235268156975507736206055,True,bloodhound,0.11619699999999999473487832801765762269496917724609,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.40814299999999997803357132397650275379419326782227,True,redbone,0.36068699999999997984900801384355872869491577148438,True,miniature_pinscher,0.22275200000000000555289147996518295258283615112305,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.56031100000000000349587025993969291448593139648438,True,Rottweiler,0.24368200000000000970956648416176903992891311645508,True,Doberman,0.15462899999999998867927786250220378860831260681152,True

Um pequeno detalhe do primeiro para o segundo dataset, é que o primeiro é um .CSV separado por vírgulas, e o segundo é um .TSV que é separado por tabs.

Agora por fim, vamos importar os dados do terceiro dataset via API do twitter:

In [355]:
# Configurando tweepy
'''

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)


# ids dos tweets
ids = weratedogs['tweet_id']

# abrindo arquivo
file = open('tweet_json.txt','w') 


# iterando nos ids
for i in (ids):
    try:
        tweet = api.get_status(i)
        if(tweet):
            file.write(str(i) + '\t' + str(tweet.retweet_count) + '\t' + str(tweet.favorite_count) + '\t' + str(tweet.created_at) + '\n')
    except:
        e = sys.exc_info()[0]
        print( "<p>Error: %s</p>" % e )
        
# fechando o arquivo        
file.close()
'''

# criando dataset
tweet_json = pd.read_csv('tweet_json.txt', sep="\t", header=None)
tweet_json.columns = ["tweet_id", "retweet_count", "favorite_count", "created_at"]

# testando dataset criado a partir de dados do tweeter
tweet_json.head(20)

              tweet_id  retweet_count  favorite_count           created_at
0   892420643555336193           8476           38486  2017-08-01 16:23:56
1   892177421306343426           6238           32985  2017-08-01 00:17:27
2   891815181378084864           4134           24833  2017-07-31 00:18:03
3   891689557279858688           8601           41863  2017-07-30 15:58:51
4   891327558926688256           9331           40022  2017-07-29 16:00:24
5   891087950875897856           3094           20074  2017-07-29 00:08:17
6   890971913173991426           2056           11750  2017-07-28 16:27:12
7   890729181411237888          18798           64980  2017-07-28 00:22:40
8   890609185150312448           4243           27593  2017-07-27 16:25:51
9   890240255349198849           7368           31675  2017-07-26 15:59:51
10  890006608113172480           7295           30446  2017-07-26 00:31:25
11  889880896479866881           4946           27578  2017-07-25 16:11:53
12  889665388333682689          10007           47772  2017-07-25 01:55:32
13  889638837579907072           4521           26958  2017-07-25 00:10:02
14  889531135344209921           2224           14985  2017-07-24 17:02:04
15  889278841981685760           5380           25102  2017-07-24 00:19:32
16  888917238123831296           4477           28869  2017-07-23 00:22:39
17  888804989199671297           4291           25389  2017-07-22 16:56:37
18  888554962724278272           3555           19740  2017-07-22 00:23:06
19  888078434458587136           3477           21597  2017-07-20 16:49:33

Agora que temos nossos 3 arquivos com dados, vamos a análise de problemas.

## Avaliando os dados

Vamos avaliar os nossos conjuntos de dados!

In [356]:
# Método info nos datasets
weratedogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [357]:
imagepredictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [358]:
tweet_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2342 entries, 0 to 2341
Data columns (total 4 columns):
tweet_id          2342 non-null int64
retweet_count     2342 non-null int64
favorite_count    2342 non-null int64
created_at        2342 non-null object
dtypes: int64(3), object(1)
memory usage: 73.3+ KB

In [359]:
# Verificando colunas com duplicidade
all_columns = pd.Series(list(weratedogs) + list(imagepredictions) + list(tweet_json))
all_columns[all_columns.duplicated()]

17    tweet_id
29    tweet_id
dtype: object

In [360]:
weratedogs.tweet_id.value_counts()

749075273010798592    1
741099773336379392    1
798644042770751489    1
825120256414846976    1
769212283578875904    1
700462010979500032    1
780858289093574656    1
699775878809702401    1
880095782870896641    1
760521673607086080    1
776477788987613185    1
691820333922455552    1
715696743237730304    1
714606013974974464    1
760539183865880579    1
813157409116065792    1
676430933382295552    1
743510151680958465    1
837012587749474308    1
833722901757046785    1
818259473185828864    1
670704688707301377    1
667160273090932737    1
674394782723014656    1
672082170312290304    1
670093938074779648    1
759923798737051648    1
809920764300447744    1
805487436403003392    1
838085839343206401    1
                     ..
763956972077010945    1
870308999962521604    1
720775346191278080    1
785927819176054784    1
783347506784731136    1
775733305207554048    1
834209720923721728    1
825026590719483904    1
758405701903519748    1
668986018524233728    1
690938899477221376    1
667911425562669056    1
754482103782404096    1
713175907180089344    1
669015743032369152    1
672068090318987265    1
816829038950027264    1
683773439333797890    1
674291837063053312    1
837482249356513284    1
767500508068192258    1
773922284943896577    1
673342308415348736    1
886054160059072513    1
748307329658011649    1
715360349751484417    1
666817836334096384    1
794926597468000259    1
673705679337693185    1
700151421916807169    1
Name: tweet_id, Length: 2356, dtype: int64

In [361]:
# Método describe nos datasets
weratedogs.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2356.0,78.0,78.00,181.0,181.0,2356.000000000000000000000000000000000000000000000000,2356.00000000000000000000000000000000000000000000000000
mean,742771590321719808.0,745507917855750656.0,20141706360873208.00,772039961038007040.0,12416983653017580.0,13.126485568760610789240672602318227291107177734375,10.45543293718166388828194612869992852210998535156250
std,68567047444761032.0,75824920044192880.0,125279666255236320.00,62369278105055600.0,95992535331517536.0,45.876647623330107705896807601675391197204589843750,6.74523722694255578602451350889168679714202880859375
min,666020888022790144.0,665814696700723200.0,11856342.00,666104133288665088.0,783214.0,0.000000000000000000000000000000000000000000000000,0.00000000000000000000000000000000000000000000000000
25%,678398938214475776.0,675741911993464832.0,308637448.75,718631497683582976.0,4196983835.0,10.000000000000000000000000000000000000000000000000,10.00000000000000000000000000000000000000000000000000
50%,719627934716235776.0,703870840226598912.0,4196983835.00,780465709297995776.0,4196983835.0,11.000000000000000000000000000000000000000000000000,10.00000000000000000000000000000000000000000000000000
75%,799337304954252288.0,825780371286566912.0,4196983835.00,820314633777061888.0,4196983835.0,12.000000000000000000000000000000000000000000000000,10.00000000000000000000000000000000000000000000000000
max,892420643555336192.0,886266357075128320.0,840547864354918400.00,887473957103951872.0,787461778435289088.0,1776.000000000000000000000000000000000000000000000000,170.00000000000000000000000000000000000000000000000000

In [362]:
imagepredictions.describe()

,tweet_id,img_num,p1_conf,p2_conf,p3_conf
count,2075.0,2075.00000000000000000000000000000000000000000000000000,2075.00000000000000000000000000000000000000000000000000,2075.00000000000000000000000000000000000000000000000000,2075.00000000000000000000000000000000000000000000000000
mean,738451357852539008.0,1.20385542168674697371955062408233061432838439941406,0.59454826361445822779927539158961735665798187255859,0.13458860950039183701498757272929651662707328796387,0.06032416861810645236641192923343623988330364227295
std,67852033330235656.0,0.56187502798363009315352201156201772391796112060547,0.27117351686569007851446144741203170269727706909180,0.10066573936432347824432298466490465216338634490967,0.05090593131945617827449623860047722700983285903931
min,666020888022790144.0,1.00000000000000000000000000000000000000000000000000,0.04433340000000000197255545231200812850147485733032,0.00000001011299999999999930202205611178001287697725,0.00000000017401699999999998441190987632376388841160
25%,676483507139540992.0,1.00000000000000000000000000000000000000000000000000,0.36441200000000001368860580441833008080720901489258,0.05388624999999999665156735773052787408232688903809,0.01622240000000000140212286225960269803181290626526
50%,711998809858043904.0,1.00000000000000000000000000000000000000000000000000,0.58823000000000003062439191126031801104545593261719,0.11818099999999999438760056591490865685045719146729,0.04944380000000000302540215102453657891601324081421
75%,793203448525178880.0,1.00000000000000000000000000000000000000000000000000,0.84385500000000002174260771425906568765640258789062,0.19556550000000000322231130667205434292554855346680,0.09180755000000000165538693863709340803325176239014
max,892420643555336192.0,4.00000000000000000000000000000000000000000000000000,1.00000000000000000000000000000000000000000000000000,0.48801400000000011436540603426692541688680648803711,0.27341900000000002313171876267006155103445053100586

In [363]:
tweet_json.describe()

,tweet_id,retweet_count,favorite_count
count,2342.0,2342.0000000000000000000000000000000000000000,2342.000000000000000000000000000000000000000
mean,742264601089249536.0,2980.2843723313408190733753144741058349609375,8041.522203245089258416555821895599365234375
std,68374656561591296.0,4990.5761818138689704937860369682312011718750,12366.505251144686553743667900562286376953125
min,666020888022790144.0,0.0000000000000000000000000000000000000000,0.000000000000000000000000000000000000000
25%,678350865747605504.0,599.2500000000000000000000000000000000000000,1393.000000000000000000000000000000000000000
50%,718622401733490688.0,1395.0000000000000000000000000000000000000000,3508.000000000000000000000000000000000000000
75%,798700973901418496.0,3477.7500000000000000000000000000000000000000,9878.500000000000000000000000000000000000000
max,892420643555336192.0,84230.0000000000000000000000000000000000000000,162513.000000000000000000000000000000000000000

## Detectando os problemas

### Problemas de qualidade

#### weratedogs df

- Alguns twitters foram deletados, o que vai causar inconsistência com os dados presentes no dataset da Udacity e dos extraidos via API &#10004;
- Alguns cachorros tem mais que um status &#10004;
- *rating_numerator* com números menores que 10 (todos verificados no Twitter eram 10) &#10004;
- *rating_numerator* com números maiores que 20 (todos verificados no Twitter eram entre 10~16) &#10004;
- *rating_denominator* com números menores que 10 (todos verificados no Twitter eram 10+) &#10004;
- *rating_denominator* com números maiores que 10 (todos verificados no Twitter eram 10+) &#10004;
- *name* com nomes como None, a, an, the &#10004;
- *expanded_urls* com links diferentes do twitter (https://www.gofundme.com/mingusneedsus) &#10004;
- *timestamp* com um +0000 desnecessário no fim
- O dataset apresenta alguns retweets, verificar *retweeted_status_id*
- *source* está com tag html e um r...
- *timestamp* está como string
- alguns nomes não estão com uppercase na primeira letra

### Problemas de arrumação

- A coluna de *retweet_count* de **twitter_json** deve estar e **weratedogs** &#10004;
- A coluna de *favorite_count* de **twitter_json** deve estar em **weratedogs** &#10004;
- *tweet_id* de **imagepredictions** está ao contrário dos demais datasets &#10004;
- os status de cachorro de **weratedogs** poderiam estar em uma coluna &#10004;

## Criando os arquivos limpos

In [364]:
weratedogs_clean = weratedogs.copy()
imagepredictions_clean = imagepredictions.copy()
tweet_json_clean = tweet_json.copy()

## Dados faltantes

### 1- Alguns twitters foram deletados, o que vai causar inconsistência com os dados presentes no dataset da Udacity e dos extraidos via API

Um pequeno problema: alguns twitters foram deletados, assim sendo o dataset da API tem algumas linhas a menos, precisamos deixa-los iguais para não afetar a nossa limpeza e futura análise

#### O que será feito:

Vamos comparar os ids de twitter, os que não existirem no *weratedogs*, serão deletados.

### Código

In [365]:
# Achando os ids que são diferentes
difference = pd.concat([weratedogs_clean['tweet_id'],tweet_json_clean['tweet_id']]).drop_duplicates(keep=False)

# Removendo os ids diferentes
weratedogs_clean = weratedogs_clean[~weratedogs_clean['tweet_id'].isin(difference)]

weratedogs_clean = weratedogs_clean.reset_index(drop=True)

### Teste

In [366]:
len(weratedogs_clean)

2342

In [367]:
len(tweet_json_clean)

2342

## Problemas de arrumação

Primeiramente vamos solucionar os problemas de organização definidos anteriormente

### 1 - A coluna de retweet_count de twitter_json deve estar em weratedogs:

#### O que será feito:

A coluna retweet_count será transferida do dataset **twitter_json** para o **weratedogs**, vamos nos guiar pela numeração dos ids.

### Código:

In [368]:
weratedogs_clean = pd.concat([weratedogs_clean, tweet_json_clean['retweet_count']], axis=1)

### Teste:

In [369]:
weratedogs_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,retweet_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None,8476
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available fo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None,6238
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know w...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None,4134
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD3...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None,8601
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and sh...",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/st...",12,10,Franklin,None,None,None,None,9331

### 2 - A coluna de favorite_count de twitter_json deve estar em weratedogs:

#### O que será feito:

A coluna favorite_count será transferida do dataset **twitter_json** para o **weratedogs**, vamos nos guiar pela numeração dos ids.

### Código:

In [370]:
weratedogs_clean = pd.concat([weratedogs_clean, tweet_json_clean['favorite_count']], axis=1)

### Teste

In [371]:
weratedogs_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,retweet_count,favorite_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None,8476,38486
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available fo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None,6238,32985
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know w...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None,4134,24833
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD3...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None,8601,41863
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and sh...",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/st...",12,10,Franklin,None,None,None,None,9331,40022

### 3 - tweet_id de imagepredictions está ao contrário dos demais datasets:

#### O que será feito:

Vamos inverter a ordem de tweet_id do dataset **imagepredictions**

### Código:

In [372]:
imagepredictions_clean = imagepredictions.sort_values('tweet_id', ascending = False)

### Teste:

In [373]:
imagepredictions_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.09704859999999999875530676263224449940025806427002,False,bagel,0.08585110000000001351239120594982523471117019653320,False,banana,0.07610999999999999710009745967909111641347408294678,False
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.32358100000000000751043671698425896465778350830078,True,Pekinese,0.09064650000000000484856599314298364333808422088623,True,papillon,0.06895690000000000152713397483239532448351383209229,True
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.71601199999999998180300053718383423984050750732422,True,malamute,0.07825300000000000311128900420953868888318538665771,True,kelpie,0.03137890000000000123581145317075424827635288238525,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.17027799999999998492583586084947455674409866333008,False,Labrador_retriever,0.16808600000000001317701503467105794697999954223633,True,spatula,0.04083590000000000136415323481742234434932470321655,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.55571199999999998375699306052410975098609924316406,True,English_springer,0.22576999999999999846345133391878334805369377136230,True,German_short-haired_pointer,0.17521900000000001362820967187872156500816345214844,True

In [374]:
weratedogs_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,retweet_count,favorite_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None,8476,38486
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available fo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None,6238,32985
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know w...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None,4134,24833
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD3...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None,8601,41863
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and sh...",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/st...",12,10,Franklin,None,None,None,None,9331,40022

In [375]:
weratedogs_clean

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,retweet_count,favorite_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None,8476,38486
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available fo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None,6238,32985
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know w...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None,4134,24833
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD3...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None,8601,41863
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and sh...",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/st...",12,10,Franklin,None,None,None,None,9331,40022
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breath...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950875897856/photo/1,13,10,None,None,None,None,None,3094,20074
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Jax. He enjoys ice cream so much he gets nervous around it. 13/10 help Jax enjoy more thing...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,https://twitter.com/dog_rates/status/890971913173991...",13,10,Jax,None,None,None,None,2056,11750
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",When you watch your owner call another dog a good boy but then they turn back to you and say you...,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/890729181411237888/photo/1,https://twitter.com/dog_rates/st...",13,10,None,None,None,None,None,18798,64980
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Zoey. She doesn't want to be one of the scary sharks. Just wants to be a snuggly pettabl...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185150312448/photo/1,13,10,Zoey,None,None,None,None,4243,27593
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Cassie. She is a college pup. Studying international doggo communication and stick theor...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255349198849/photo/1,14,10,Cassie,doggo,None,None,None,7368,31675
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Koda. He is a South Australian deckshark. Deceptively deadly. Frighteningly majestic. 13...,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/890006608113172480/photo/1,https://twitter.com/dog_rates/st...",13,10,Koda,None,None,None,None,7295,30446
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Bruno. He is a service shark. Only gets out of the water to assist you. 13/10 terrifying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896479866881/photo/1,13,10,Bruno,None,None,None,None,4946,27578
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here's a puppo that seems to be on the fence about something haha no but seriously someone help ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388333682689/photo/1,13,10,None,None,None,None,puppo,10007,47772
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Ted. He does his best. Sometimes that's not enough. But it's ok. 12/10 would assist http...,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/889638837579907072/photo/1,https://twitter.com/dog_rates/st...",12,10,Ted,None,None,None,None,4521,26958
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Stuart. He's sporting his favorite fanny pack. Secretly filled with bones only. 13/10 pu...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135344209921/photo/1,13,10,Stuart,None,None,None,puppo,2224,14985
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Oliver. You're witnessing one of his many brutal attacks. Seems to be playing with his v...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841981685760/video/1,13,10,Oliver,None,None,None,None,5380,25102
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Jim. He found a fren. Taught him how to sit like the good boys. 12/10 for both https://t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238123831296/photo/1,12,10,Jim,None,None,None,None,4477,28869
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Zeke. He has a new stick. Very proud of it. Would like you to throw it for him without t...,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/888804989199671297/photo/1,https://twitter.com/dog_rates/st...",13,10,Zeke,None,None,None,None,4291,25389
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Ralphus. He's powering up. Attempting maximum borkdrive. 13/10 inspirational af https://...,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/888554962724278272/photo/1,https://twitter.com/dog_rates/st...",13,10,Ralphus,None,None,None,None,3555,19740
19,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Gerald. He was just told he didn't get the job he interviewed for. A h*ckin injustice. 1...,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/888078434458587136/photo/1,https://twitter.com/dog_rates/st...",12,10,Gerald,None,None,None,None,3477,21597
20,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Jeffrey. He has a monopoly on the pool noodles. Currently running a 'boop for two' midwe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289381826560/photo/1,13,10,Jeffrey,None,None,None,None,5365,29942
21,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",I've yet to rate a Venezuelan Hover Wiener. This is such an honor. 14/10 paw-inspiring af (IG: r...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139158093824/video/1,14,10,such,None,None,None,None,11616,45903
22,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help ...,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/st...",13,10,Canela,None,None,None,None,18111,68601
23,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",You may not have known you needed to see this today. 13/10 please enjoy (IG: emmylouroo) https:/...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217045368832/video/1,13,10,None,None,None,None,None,10350,33424
24,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This... is a Jubilant Antarctic House Bear. We only rate dogs. Please only send dogs. Thank you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392804085760/photo/1,12,10,None,None,None,None,None,5930,30321
25,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Maya. She's very shy. Rarely leaves her cup. 13/10 would find her an environment to thri...,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/886983233522544640/photo/1,https://twitter.com/dog_rates/st...",13,10,Maya,None,None,None,None,7735,34907
26,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Mingus. He's a wonderful father to his smol pup. Confirmed 13/10, but he needs your help...",NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https://twitter.com/dog_rates/status/886736880519319552/p...",13,10,Mingus,None,None,None,None,3273,11973
27,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Derek. He's late for a dog meeting. 13/10 pet...al to the metal https://t.co/BCoWue0abA,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336477933568/photo/1,13,10,Derek,None,None,None,None,4443,22250
28,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Roscoe. Another pupper fallen victim to spontaneous tongue ejections. Get the BlepiPen i...,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/886366144734445568/photo/1,https://twitter.com/dog_rates/st...",12,10,Roscoe,None,None,pupper,None,3187,21036
29,886267009285017600,886266357075128320.0,2281181600.0,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@NonWhiteHat @MayhewMayhem omg hello tanner you are a scary good boy 12/10 would pet with extrem...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None,4,116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2312,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is quite the dog. Gets really excited when not in water. Not very soft tho. Bad at fetch. C...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507551481857/photo/1,2,10,quite,None,None,None,None,325,444
2313,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a southern Vesuvius bumblegruff. Can drive a truck (wow). Made friends with 5 other nift...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126856765440/photo/1,7,10,a,None,None,None,None,40,109
2314,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Oh goodness. A super rare northeast Qdoba kangaroo mix. Massive feet. No pouch (disappointing). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247373291520/photo/1,9,10,None,None,None,None,None,84,168
2315,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Those are sunglasses and a jean jacket. 11/10 dog cool af https://t.co/uHXrPkUEyl,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753744588802/photo/1,11,10,None,None,None,None,None,93,188
2316,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Unique dog here. Very small. Lives in container of Frosted Flakes (?). Short legs. Must be rare ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758909284353/photo/1,6,10,None,None,None,None,None,568,775
2317,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a mixed Asiago from the Galápagos Islands. Only one ear working. Big fan of marijua...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288456101888/photo/1,8,10,None,None,None,None,None,72,219
2318,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Look at this jokester thinking seat belt laws don't apply to him. Great tongue tho 10/10 https:/...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417576210432/photo/1,10,10,None,None,None,None,None,135,295
2319,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is an extremely rare horned Parthenon. Not amused. Wears shoes. Overall very nice. 9/10 wou...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882303524864/photo/1,9,10,an,None,None,None,None,91,198
2320,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a funny dog. Weird toes. Won't come down. Loves branch. Refuses to eat his food. Hard to...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911632134144/photo/1,3,10,a,None,None,None,None,354,499
2321,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406224695296/photo/1,1,2,an,None,None,None,None,64,149
2322,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097616637952/photo/1,11,10,None,None,None,None,None,76,174
2323,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Very concerned about fellow dog trapped in computer. 10/10 https://t.co/0yxApIikpk,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910803644416/photo/1,10,10,None,None,None,None,None,35,103
2324,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Not familiar with this breed. No tail (weird). Only 2 legs. Doesn't bark. Surprisingly quick. Sh...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133288665088/photo/1,1,10,None,None,None,None,None,6561,14268
2325,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Oh my. Here you are seeing an Adobe Setter giving birth to twins!!! The world is an amazing plac...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155909144576/photo/1,11,10,None,None,None,None,None,12,80
2326,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Can stand on stump for what seems like a while. Built that birdhouse? Impressive. Made friends w...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513787052032/photo/1,8,10,None,None,None,None,None,67,154
2327,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This appears to be a Mongolian Presbyterian mix. Very tired. Tongue slip confirmed. 9/10 would l...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000022159362/photo/1,9,10,None,None,None,None,None,73,164
2328,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a well-established sunblockerspaniel. Lost his other flip-flop. 6/10 not very water...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916733198337/photo/1,6,10,None,None,None,None,None,44,118
2329,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Let's hope this flight isn't Malaysian (lol). What a dog! Almost completely camouflaged. 10/10 I...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100786774016/photo/1,10,10,None,None,None,None,None,163,321
2330,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a northern speckled Rhododendron. Much sass. Gives 0 fucks. Good tongue. 9/10 would...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193221509120/photo/1,9,10,None,None,None,None,None,60,147
2331,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is the happiest dog you will ever see. Very committed owner. Nice couch. 10/10 https://t.co...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827256086533/photo/1,10,10,the,None,None,None,None,217,476
2332,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is the Rand Paul of retrievers folks! He's probably good at poker. Can drink beer (lol rad)...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600524156928/photo/1,8,10,the,None,None,None,None,57,111
2333,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",My oh my. This is a rare blond Canadian terrier on wheels. Only $8.98. Rather docile. 9/10 very ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090499244032/photo/1,9,10,a,None,None,None,None,141,296
2334,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a Siberian heavily armored polar bear mix. Strong owner. 10/10 I would do unspeakable th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525042405380/photo/1,10,10,a,None,None,None,None,249,432

### 4 - os status de cachorro de weratedogs poderiam estar em uma coluna

#### O que será feito:

Vamos criar uma coluna chamada dog_status no dataset **wearedogs** e adicionar os status corretos a cada uma

Porem antes de resolver este problema, devemos lidar com um problema de qualidade antes, que é: cachorros com mais de um status, vamos deletar estas linhas pois não sabemos realmente quais são os status corretos

### Código:

In [376]:
# Resolvendo primeiro o problema de qualidade, vamos identificar os cachorros com mais de um status
double_status_rows = weratedogs_clean.loc[
                        ((weratedogs_clean['doggo'] == 'doggo') &  (weratedogs_clean['floofer'] == 'floofer')) |
                        ((weratedogs_clean['doggo'] == 'doggo') &  (weratedogs_clean['pupper'] == 'pupper')) |
                        ((weratedogs_clean['doggo'] == 'doggo') &  (weratedogs_clean['puppo'] == 'puppo')) |
                        ((weratedogs_clean['floofer'] == 'floofer') &  (weratedogs_clean['pupper'] == 'pupper')) |
                        ((weratedogs_clean['floofer'] == 'floofer') &  (weratedogs_clean['puppo'] == 'puppo')) |
                        ((weratedogs_clean['puppo'] == 'puppo') &  (weratedogs_clean['pupper'] == 'pupper'))
                     ]

# Removendo as linhas com status duplo
weratedogs_clean.drop(double_status_rows.index, inplace=True)

In [377]:
# Criando a coluna
weratedogs_clean['dog_status'] = 'None'

# Buscando os ids dos status para preencher a coluna dog_status corretamente

weratedogs_clean.loc[weratedogs_clean['doggo'] == 'doggo', 'dog_status'] = 'doggo'
weratedogs_clean.loc[weratedogs_clean['floofer'] == 'floofer', 'dog_status'] = 'floofer'
weratedogs_clean.loc[weratedogs_clean['pupper'] == 'pupper', 'dog_status'] = 'pupper'
weratedogs_clean.loc[weratedogs_clean['puppo'] == 'puppo', 'dog_status'] = 'puppo'

## Teste:

In [378]:
len(weratedogs_clean.loc[weratedogs_clean['doggo'] == 'doggo'])

82

In [379]:
len(weratedogs_clean.loc[weratedogs_clean['dog_status'] == 'doggo'])

82

In [380]:
len(weratedogs_clean.loc[weratedogs_clean['floofer'] == 'floofer'])

9

In [381]:
len(weratedogs_clean.loc[weratedogs_clean['dog_status'] == 'floofer'])

9

In [382]:
len(weratedogs_clean.loc[weratedogs_clean['pupper'] == 'pupper'])

243

In [383]:
len(weratedogs_clean.loc[weratedogs_clean['dog_status'] == 'pupper'])

243

In [384]:
len(weratedogs_clean.loc[weratedogs_clean['puppo'] == 'puppo'])

29

In [385]:
len(weratedogs_clean.loc[weratedogs_clean['dog_status'] == 'puppo'])

29

## Problemas de qualidade

Agora que os dados estão organizados, vamos colocar ajustar os problemas de qualidade

### 1 - rating_numerator com números menores que 10 (todos verificados no Twitter eram 10):

#### O que será feito:

Como não temos e não sabemos as notas corretas, vamos remover as notas abaixo de 10

### Código:

In [386]:
# Encontrando ratings menores que 10
rating_less_than_10 = weratedogs_clean.loc[ weratedogs_clean['rating_numerator'] < 10]

# Removendo os dados errados encontrados
weratedogs_clean.drop(rating_less_than_10.index, inplace=True)

### Teste:

In [387]:
len(weratedogs_clean.loc[ weratedogs_clean['rating_numerator'] < 10])

0

### 2 - rating_numerator com números maiores que 20 (todos verificados no Twitter eram entre 10~16):

#### O que será feito:

Como não temos e não sabemos as notas corretas, vamos remover as notas abaixo de 10

### Código:

In [388]:
# Encontrando ratings menores que 10
rating_more_than_20 = weratedogs_clean.loc[ weratedogs_clean['rating_numerator'] > 20]

# Removendo os dados errados encontrados
weratedogs_clean.drop(rating_more_than_20.index, inplace=True)

### Teste:

In [389]:
len(weratedogs_clean.loc[ weratedogs_clean['rating_numerator'] > 20])

0

### 3 - rating_denominator com números menores que 10 (todos verificados no Twitter eram 10+)

#### O que será feito:

Vamos transformar todos os denominators menores que 10, para 10.

### Código:

In [390]:
# Substituindo os rating numerators menores que 10
weratedogs_clean.loc[ weratedogs_clean['rating_denominator'] < 10] = 10

### Teste:

In [391]:
len(weratedogs_clean.loc[ weratedogs_clean['rating_denominator'] < 10])

0

### 4 - rating_denominator com números maiores que 10 (todos verificados no Twitter eram 10+)

#### O que será feito:

Vamos transformar todos os denominators maiores que 10, para 10.

### Código:

In [392]:
# Substituindo os rating numerators maiores que 10
weratedogs_clean.loc[ weratedogs_clean['rating_denominator'] > 10] = 10

### Teste:

In [393]:
len(weratedogs_clean.loc[ weratedogs_clean['rating_denominator'] > 10])

0

### 5 - name com nomes como None, a, an, the

#### O que será feito:

Faremos o processo em duas etapas:
- Remover todos os nomes que são None (pois não sabemos o real nome deles)
- E também remover todos os nomes que não começam com uma letra maiúscula e tem 3 letras ou menos, para resolver o problema desses nomes estranhos

### Código:

In [394]:
# Encontrando nomes None
none_names = weratedogs_clean.loc[ weratedogs_clean['name'] == 'None']

# Removendo os dados errados encontrados
weratedogs_clean.drop(none_names.index, inplace=True)

# Definindo uma variável com os nomes
names = weratedogs_clean.loc[weratedogs_clean['name'].str.len() > 0]

# Criando array para inserir os ids das strings que não são nome
not_a_name = []

# Buscando nos nomes o que não é nome
for index, row in names.iterrows():
    if(row['name'].islower()):
        not_a_name.append(row['tweet_id'])

# Deletando o que não é nome        
weratedogs_clean = weratedogs_clean[~weratedogs_clean['tweet_id'].isin(not_a_name)]

weratedogs_clean = weratedogs_clean.reset_index(drop=True)

## Teste:

In [395]:
(weratedogs_clean['name'] == 'a').sum()

0

In [396]:
(weratedogs_clean['name'] == 'the').sum()

0

In [397]:
(weratedogs_clean['name'] == 'Ted').sum()

3

In [398]:
(weratedogs_clean['name'].str.islower()).sum()

0

In [399]:
weratedogs_clean['name']

0         Phineas
1           Tilly
2          Archie
3           Darla
4        Franklin
5             Jax
6            Zoey
7          Cassie
8            Koda
9           Bruno
10            Ted
11         Stuart
12         Oliver
13            Jim
14           Zeke
15        Ralphus
16         Gerald
17        Jeffrey
18         Canela
19           Maya
20         Mingus
21          Derek
22         Roscoe
23        Waffles
24          Jimbo
25         Maisey
26          Lilly
27           Earl
28           Lola
29          Kevin
          ...
1199       Gòrdón
1200         DayZ
1201        Rusty
1202       Sophie
1203       Jareld
1204       Torque
1205     Skittles
1206         Otis
1207         Erik
1208          Stu
1209       Shaggy
1210        Filup
1211        Olive
1212         Kial
1213    Naphaniel
1214         Hall
1215      Cupcake
1216       Joshwa
1217      Timison
1218      Kenneth
1219      Churlie
1220      Bradlay
1221        Pipsy
1222         Gabe
1223         Dave
1224         Keet
1225        Carll
1226        Lugan
1227     Kreggory
1228       Walter
Name: name, Length: 1229, dtype: object

### Teste:

In [400]:
weratedogs_clean['name']

0         Phineas
1           Tilly
2          Archie
3           Darla
4        Franklin
5             Jax
6            Zoey
7          Cassie
8            Koda
9           Bruno
10            Ted
11         Stuart
12         Oliver
13            Jim
14           Zeke
15        Ralphus
16         Gerald
17        Jeffrey
18         Canela
19           Maya
20         Mingus
21          Derek
22         Roscoe
23        Waffles
24          Jimbo
25         Maisey
26          Lilly
27           Earl
28           Lola
29          Kevin
          ...
1199       Gòrdón
1200         DayZ
1201        Rusty
1202       Sophie
1203       Jareld
1204       Torque
1205     Skittles
1206         Otis
1207         Erik
1208          Stu
1209       Shaggy
1210        Filup
1211        Olive
1212         Kial
1213    Naphaniel
1214         Hall
1215      Cupcake
1216       Joshwa
1217      Timison
1218      Kenneth
1219      Churlie
1220      Bradlay
1221        Pipsy
1222         Gabe
1223         Dave
1224         Keet
1225        Carll
1226        Lugan
1227     Kreggory
1228       Walter
Name: name, Length: 1229, dtype: object

### 6 - *expanded_urls* com links diferentes do twitter (ex: https://www.gofundme.com/mingusneedsus)

#### O que será feito:

Primeiramente vamos padronizar a URL base para 'https://twitter.com/dog_rates/status/', depois vamos concatenar o tweet_id ao final desta string

### Código:

In [401]:
# Definindo a URL base
weratedogs_clean['expanded_urls'] = 'https://twitter.com/dog_rates/status/'

# Adicionando o tweet_id ao final da string
weratedogs_clean['expanded_urls'] = weratedogs_clean['expanded_urls'].astype(str) + weratedogs_clean['tweet_id'].astype(str)

### Teste:

In [402]:
weratedogs_clean['expanded_urls']

0       https://twitter.com/dog_rates/status/892420643555336193
1       https://twitter.com/dog_rates/status/892177421306343426
2       https://twitter.com/dog_rates/status/891815181378084864
3       https://twitter.com/dog_rates/status/891689557279858688
4       https://twitter.com/dog_rates/status/891327558926688256
5       https://twitter.com/dog_rates/status/890971913173991426
6       https://twitter.com/dog_rates/status/890609185150312448
7       https://twitter.com/dog_rates/status/890240255349198849
8       https://twitter.com/dog_rates/status/890006608113172480
9       https://twitter.com/dog_rates/status/889880896479866881
10      https://twitter.com/dog_rates/status/889638837579907072
11      https://twitter.com/dog_rates/status/889531135344209921
12      https://twitter.com/dog_rates/status/889278841981685760
13      https://twitter.com/dog_rates/status/888917238123831296
14      https://twitter.com/dog_rates/status/888804989199671297
15      https://twitter.com/dog_rates/status/888554962724278272
16      https://twitter.com/dog_rates/status/888078434458587136
17      https://twitter.com/dog_rates/status/887705289381826560
18      https://twitter.com/dog_rates/status/887473957103951883
19      https://twitter.com/dog_rates/status/886983233522544640
20      https://twitter.com/dog_rates/status/886736880519319552
21      https://twitter.com/dog_rates/status/886680336477933568
22      https://twitter.com/dog_rates/status/886366144734445568
23      https://twitter.com/dog_rates/status/886258384151887873
24      https://twitter.com/dog_rates/status/885984800019947520
25      https://twitter.com/dog_rates/status/885528943205470208
26      https://twitter.com/dog_rates/status/885311592912609280
27      https://twitter.com/dog_rates/status/884925521741709313
28      https://twitter.com/dog_rates/status/884876753390489601
29      https://twitter.com/dog_rates/status/884562892145688576
                                 ...
1199    https://twitter.com/dog_rates/status/668528771708952576
1200    https://twitter.com/dog_rates/status/668480044826800133
1201    https://twitter.com/dog_rates/status/668286279830867968
1202    https://twitter.com/dog_rates/status/668274247790391296
1203    https://twitter.com/dog_rates/status/668256321989451776
1204    https://twitter.com/dog_rates/status/668237644992782336
1205    https://twitter.com/dog_rates/status/668190681446379520
1206    https://twitter.com/dog_rates/status/667915453470232577
1207    https://twitter.com/dog_rates/status/667886921285246976
1208    https://twitter.com/dog_rates/status/667885044254572545
1209    https://twitter.com/dog_rates/status/667866724293877760
1210    https://twitter.com/dog_rates/status/667806454573760512
1211    https://twitter.com/dog_rates/status/667728196545200128
1212    https://twitter.com/dog_rates/status/667544320556335104
1213    https://twitter.com/dog_rates/status/667530908589760512
1214    https://twitter.com/dog_rates/status/667502640335572993
1215    https://twitter.com/dog_rates/status/667453023279554560
1216    https://twitter.com/dog_rates/status/667200525029539841
1217    https://twitter.com/dog_rates/status/667182792070062081
1218    https://twitter.com/dog_rates/status/667171260800061440
1219    https://twitter.com/dog_rates/status/667165590075940865
1220    https://twitter.com/dog_rates/status/667160273090932737
1221    https://twitter.com/dog_rates/status/667152164079423490
1222    https://twitter.com/dog_rates/status/667119796878725120
1223    https://twitter.com/dog_rates/status/667073648344346624
1224    https://twitter.com/dog_rates/status/667062181243039745
1225    https://twitter.com/dog_rates/status/666996132027977728
1226    https://twitter.com/dog_rates/status/666739327293083650
1227    https://twitter.com/dog_rates/status/666454714377183233
1228    https://twitter.com/dog_rates/status/666418789513326592
Name: expanded_urls, Length: 1229, dtype: object