## Introdução

O objetivo deste notebook é fazer a extração/obtenção de três datasets de maneiras diferentes, o primeiro um arquivo de CSV dado pela Udacity, o segundo será feito o download do arquivo hospedado nos servidores da Udacity também, e por fim o último se trata de uma extração de dados diretamente do Twitter via API com auxílio da lib tweepy.

Inicialmente vamos importar as bibliotecas necessárias para o projeto:

In [32]:
# Importando libs que serão utilizadas no projeto
import pandas as pd
import requests
import json
import tweepy
import sys

## Importando os datasets

Agora é hora de iniciar a importação de cada um dos arquivos com os dados, primeiro vamos importar o arquivo fornecido pela Udacity:

In [10]:
# Lendo os datasets originais, primeiramente o dataset fornecido pela Udacity
weratedogs = pd.read_csv('twitter-archive-enhanced.csv')

# Testando o arquivo
weratedogs.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

O segundo dataset é o que foi hospedado pela Udacity, vamos ler ele também:

In [8]:
# Fazendo download do dataset
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

r = requests.get(url, allow_redirects=True)

open('image-predictions.tsv', 'wb').write(r.content)

# Lendo o arquivo, detalhe para a separação ser por tabs
imagepredictions = pd.read_csv('image-predictions.tsv', sep='\t')

# Testando o segundo dataset
imagepredictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

Um pequeno detalhe do primeiro para o segundo dataset, é que o primeiro é um .CSV separado por vírgulas, e o segundo é um .TSV que é separado por tabs.

Agora por fim, vamos importar os dados do terceiro dataset via API do twitter:

In [ ]:
# Configurando tweepy
consumer_key = 'kqJuP51mSRqhGfzpUTf8iIUBi'
consumer_secret = '4AK27pZQP3E8zP0vj4tO9E19MJgfjSKONOrwibKzLJJFMrisHq'
access_token = '898518804350763008-tFaWgEqhbnLkzewegg5gYk8DIpT0Rrb'
access_secret = 'CE5XODJ4cJLuEjcm75DAcnvCi4CsRmIjHanDjndht2DBv'


auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

# ids dos tweets
ids = weratedogs['tweet_id']

# abrindo arquivo
file = open('tweet_json.txt','w') 

# iterando nos ids
for i in (ids):
    try:
        tweet = api.get_status(i)
        if(tweet):
            file.write(str(i) + ',' + str(tweet.text) + ',' + str(tweet.retweet_count) + ',' + str(tweet.favorite_count) + ',' + str(tweet.created_at))
    except:
        e = sys.exc_info()[0]
        print( "<p>Error: %s</p>" % e )
        
file.close()

<p>Error: <class 'tweepy.error.TweepError'></p>
<p>Error: <class 'UnicodeEncodeError'></p>
<p>Error: <class 'tweepy.error.TweepError'></p>
<p>Error: <class 'tweepy.error.TweepError'></p>
<p>Error: <class 'tweepy.error.TweepError'></p>
<p>Error: <class 'tweepy.error.TweepError'></p>
<p>Error: <class 'tweepy.error.TweepError'></p>
<p>Error: <class 'tweepy.error.TweepError'></p>
<p>Error: <class 'tweepy.error.TweepError'></p>
<p>Error: <class 'KeyboardInterrupt'></p>
<p>Error: <class 'KeyboardInterrupt'></p>