## Introdução

O objetivo deste notebook é fazer a extração/obtenção de três datasets de maneiras diferentes, o primeiro um arquivo de CSV dado pela Udacity, o segundo será feito o download do arquivo hospedado nos servidores da Udacity também, e por fim o último se trata de uma extração de dados diretamente do Twitter via API com auxílio da lib tweepy.

Inicialmente vamos importar as bibliotecas necessárias para o projeto:

In [1]:
# Importando libs que serão utilizadas no projeto
import pandas as pd
import requests
import json
import tweepy
import sys

## Importando os datasets

Agora é hora de iniciar a importação de cada um dos arquivos com os dados, primeiro vamos importar o arquivo fornecido pela Udacity:

In [2]:
# Lendo os datasets originais, primeiramente o dataset fornecido pela Udacity
weratedogs = pd.read_csv('twitter-archive-enhanced.csv')

# Testando o arquivo
weratedogs.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

O segundo dataset é o que foi hospedado pela Udacity, vamos ler ele também:

In [3]:
# Fazendo download do dataset
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

r = requests.get(url, allow_redirects=True)

open('image-predictions.tsv', 'wb').write(r.content)

# Lendo o arquivo, detalhe para a separação ser por tabs
imagepredictions = pd.read_csv('image-predictions.tsv', sep='\t')

# Testando o segundo dataset
imagepredictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

Um pequeno detalhe do primeiro para o segundo dataset, é que o primeiro é um .CSV separado por vírgulas, e o segundo é um .TSV que é separado por tabs.

Agora por fim, vamos importar os dados do terceiro dataset via API do twitter:

In [4]:
# Configurando tweepy
'''

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)


# ids dos tweets
ids = weratedogs['tweet_id']

# abrindo arquivo
file = open('tweet_json.txt','w') 


# iterando nos ids
for i in (ids):
    try:
        tweet = api.get_status(i)
        if(tweet):
            file.write(str(i) + '\t' + str(tweet.retweet_count) + '\t' + str(tweet.favorite_count) + '\t' + str(tweet.created_at) + '\n')
    except:
        e = sys.exc_info()[0]
        print( "<p>Error: %s</p>" % e )
        
# fechando o arquivo        
file.close()
'''

# criando dataset
tweet_json = pd.read_csv('tweet_json.txt', sep="\t", header=None)
tweet_json.columns = ["tweet_id", "retweet_count", "favorite_count", "created_at"]

# testando dataset criado a partir de dados do tweeter
tweet_json.head()

             tweet_id  retweet_count  favorite_count           created_at
0  892420643555336193           8476           38486  2017-08-01 16:23:56
1  892177421306343426           6238           32985  2017-08-01 00:17:27
2  891815181378084864           4134           24833  2017-07-31 00:18:03
3  891689557279858688           8601           41863  2017-07-30 15:58:51
4  891327558926688256           9331           40022  2017-07-29 16:00:24

Agora que temos nossos 3 arquivos com dados, vamos a análise de problemas.

## Avaliando os dados

Vamos avaliar os nossos conjuntos de dados!

In [5]:
# Método info nos datasets
weratedogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [6]:
imagepredictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [7]:
tweet_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2342 entries, 0 to 2341
Data columns (total 4 columns):
tweet_id          2342 non-null int64
retweet_count     2342 non-null int64
favorite_count    2342 non-null int64
created_at        2342 non-null object
dtypes: int64(3), object(1)
memory usage: 73.3+ KB

In [8]:
# Verificando colunas com duplicidade
all_columns = pd.Series(list(weratedogs) + list(imagepredictions) + list(tweet_json))
all_columns[all_columns.duplicated()]

17    tweet_id
29    tweet_id
dtype: object

In [27]:
weratedogs.tweet_id.value_counts()

749075273010798592    1
741099773336379392    1
798644042770751489    1
825120256414846976    1
769212283578875904    1
700462010979500032    1
780858289093574656    1
699775878809702401    1
880095782870896641    1
760521673607086080    1
776477788987613185    1
691820333922455552    1
715696743237730304    1
714606013974974464    1
760539183865880579    1
813157409116065792    1
676430933382295552    1
743510151680958465    1
837012587749474308    1
833722901757046785    1
818259473185828864    1
670704688707301377    1
667160273090932737    1
674394782723014656    1
672082170312290304    1
670093938074779648    1
759923798737051648    1
809920764300447744    1
805487436403003392    1
838085839343206401    1
                     ..
763956972077010945    1
870308999962521604    1
720775346191278080    1
785927819176054784    1
783347506784731136    1
775733305207554048    1
834209720923721728    1
825026590719483904    1
758405701903519748    1
668986018524233728    1
690938899477221376    1
667911425562669056    1
754482103782404096    1
713175907180089344    1
669015743032369152    1
672068090318987265    1
816829038950027264    1
683773439333797890    1
674291837063053312    1
837482249356513284    1
767500508068192258    1
773922284943896577    1
673342308415348736    1
886054160059072513    1
748307329658011649    1
715360349751484417    1
666817836334096384    1
794926597468000259    1
673705679337693185    1
700151421916807169    1
Name: tweet_id, Length: 2356, dtype: int64

In [9]:
# Método describe nos datasets
weratedogs.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [10]:
imagepredictions.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [11]:
tweet_json.describe()

           tweet_id  retweet_count  favorite_count
count  2.342000e+03    2342.000000     2342.000000
mean   7.422646e+17    2980.284372     8041.522203
std    6.837466e+16    4990.576182    12366.505251
min    6.660209e+17       0.000000        0.000000
25%    6.783509e+17     599.250000     1393.000000
50%    7.186224e+17    1395.000000     3508.000000
75%    7.987010e+17    3477.750000     9878.500000
max    8.924206e+17   84230.000000   162513.000000

## Detectando os problemas

### Problemas de qualidade

#### weratedogs df

- Alguns twitters foram deletados, o que vai causar inconsistência com os dados presentes no dataset da Udacity e dos extraidos via API
- *rating_numerator* com números menores que 10 (todos verificados no Twitter eram 10)
- *rating_denominator* com números menores que 10 (todos verificados no Twitter eram 10+)
- *name* com nomes como None, a, an, the
- *expanded_urls* com links diferentes do twitter (https://www.gofundme.com/mingusneedsus)
- *expanded_urls* estão com os links 'errados', os links estão incompletos e finalizados com ...
- *timestamp* com um +0000 desnecessário no fim
- O dataset apresenta alguns retweets, verificar *retweeted_status_id*
- *source* está com tag html e um r...
- *timestamp* está como string

### Problemas de arrumação

- A coluna de *retweet_count* de **twitter_json** deve estar e **weratedogs**
- A coluna de *favorite_count* de **twitter_json** deve estar em **weratedogs**
- *tweet_id* de **imagepredictions** está ao contrário dos demais datasets
- os status de cachorro de **weratedogs** poderiam estar em uma coluna

## Criando os arquivos limpos

In [12]:
weratedogs_clean = weratedogs.copy()
imagepredictions_clean = imagepredictions.copy()
tweet_json_clean = tweet_json.copy()

## Dados faltantes

### 1- Alguns twitters foram deletados, o que vai causar inconsistência com os dados presentes no dataset da Udacity e dos extraidos via API

Um pequeno problema: alguns twitters foram deletados, assim sendo o dataset da API tem algumas linhas a menos, precisamos deixa-los iguais para não afetar a nossa limpeza e futura análise

#### O que será feito:

Vamos comparar os ids de twitter, os que não existirem no *weratedogs*, serão deletados.

### Código

In [38]:
# Achando os ids que são diferentes
difference = pd.concat([weratedogs_clean['tweet_id'],tweet_json_clean['tweet_id']]).drop_duplicates(keep=False)

# Removendo os ids diferentes
weratedogs_clean = weratedogs_clean[~weratedogs_clean['tweet_id'].isin(difference)]

### Teste

## Problemas de organização

Primeiramente vamos solucionar os problemas de organização definidos anteriormente

### 1 - A coluna de retweet_count de twitter_json deve estar e weratedogs:

#### O que será feito:

A coluna retweet_count será transferida do dataset **twitter_json** para o **weratedogs**, vamos nos guiar pela numeração dos ids.

### Código:

In [32]:
weratedogs_clean = pd.concat([weratedogs_clean, tweet_json_clean['retweet_count']], axis=1)

### Teste:

In [33]:
weratedogs_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,retweet_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,8476.0
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,6238.0
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,4134.0
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,8601.0
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,9331.0